.contents {
  position: relative;
  z-index: 0;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
  text-align: center; }

.hamburger {
  position: absolute;
  top: 20px;
  right: 0;
  bottom: 0;
  left: 20px;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
  z-index: 1;
  width: 50px;
  margin-top: -7px;
  cursor: pointer; }

body {
  position: relative; }

.page-wrap {
  position: relative;
  margin-bottom: 200px;
  z-index: 3; }

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: red;
  height: 200px; }
  .footer .social {
    display: block;
    font-size: 0;
    list-style: none;
    margin: 0;
    padding: 48px;
    padding: 4.8rem;
    text-align: center; }
  .footer li {
    display: inline-block;
    margin: 12px;
    margin: 1.2rem; }
  .footer a, .footer svg {
    display: block; }
  .footer a {
    position: relative;
    height: 96px;
    height: 9.6rem;
    width: 96px;
    width: 9.6rem; }
  .footer svg {
    height: 100%;
    width: 100%; }
  .footer em {
    font-size: 14px;
    line-height: 1.5;
    margin-top: -0.75em;
    position: absolute;
    text-align: center;
    top: 5%;
    right: 0;
    bottom: 0;
    left: 0; }
  .footer .icons:hover {
    border-radius: 100%;
    background: #00001C;
    color: ivory;
    fill: ivory;
    -webkit-transform: scale(1.25);
      -webkit-transform-transform: scale(1.25);
    -webkit-transition: background-color 0.5s, -webkit-transform 0.5s ease-out;
    transition: background-color 0.5s, -webkit-transform 0.5s ease-out;
    transition: background-color 0.5s, transform 0.5s ease-out;
    transition: background-color 0.5s, transform 0.5s ease-out, -webkit-transform 0.5s ease-out; }
  .footer .icons {
    color: #00001C;
    fill: #00001C; }

.sidebar {
  position: fixed;
  top: 0px;
  right: 0;
  bottom: 0px;
  left: -190px;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
  width: 180px;
  padding: 10px;
  background: red;
  z-index: 0;
  font-family: Offside;
  font-weight: bolder; }
  .sidebar ul {
    position: relative;
    list-style: none;
    margin-top: 21px;
    text-align: center; }
  .sidebar li {
    padding-bottom: 45px;
    margin-left: -45px;
    font-size: 18px;
    -webkit-font-smoothing: antialiased; }

#sidebar_toggler {
  display: none; }
  #sidebar_toggler:checked + .page-wrap .sidebar {
    left: 0px; }
  #sidebar_toggler:checked + .page-wrap .hamburger {
    left: 200px; }
  #sidebar_toggler:checked + .page-wrap .text_elements {
    margin-left: 90px; }
  #sidebar_toggler:checked + .page-wrap .project_headers {
    margin-left: 90px; }

nav a {
  position: relative;
  display: inline-block;
  color: white;
  text-decoration: none;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.3); }
  nav a:hover, nav a:focus {
    text-decoration: none; }

.link_effect a {
  color: rgba(255, 255, 255, 0.8);
  text-shadow: none; }

.link_effect a::before {
  position: absolute;
  overflow: hidden;
  max-width: 0;
  border-bottom: 2px solid #fff;
  color: white;
  content: attr(data-hover);
  -webkit-transition: max-width 0.5s;
  -moz-transition: max-width 0.5s;
  transition: max-width 0.5s; }

.link_effect a:hover::before,
.link_effect a:focus::before {
  max-width: 100%; }

#splash {
  background: ivory;
  height: 100vh;
  margin-top: -20px;
  text-align: center;
  position: relative; }
  #splash .text_elements {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 750px; }
  #splash h2 {
    display: inline-block;
    font-family: Offside;
    font-size: 30px;
    color: red; }
  #splash .hvr-pulse-grow {
    color: red;
    font-size: 80px;
    cursor: pointer; }
  #splash .link--yaku {
    color: red;
    font-family: Offside;
    font-size: 90px;
    overflow: hidden;
    padding: 0 0 10px; }
  #splash .link--yaku:hover::before {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  #splash .link--yaku span {
    display: inline-block;
    position: relative;
    -webkit-transform: perspective(1000px) rotate3d(0, 1, 0, 0deg);
    transform: perspective(1000px) rotate3d(0, 1, 0, 0deg);
    -webkit-transition: -webkit-transform 0.5s, color 0.5s;
    transition: transform 0.5s, color 0.5s; }
  #splash .link--yaku:hover span {
    color: #1e1a1b;
    -webkit-transform: perspective(1000px) rotate3d(0, 1, 0, 360deg);
    transform: perspective(1000px) rotate3d(0, 1, 0, 360deg); }
  #splash .link--yaku span:nth-child(11),
  #splash .link--yaku:hover span:first-child {
    -webkit-transition-delay: 0s;
    transition-delay: 0s; }
  #splash .link--yaku span:nth-child(10),
  #splash .link--yaku:hover span:nth-child(2) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s; }
  #splash .link--yaku span:nth-child(9),
  #splash .link--yaku:hover span:nth-child(3) {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s; }
  #splash .link--yaku span:nth-child(8),
  #splash .link--yaku:hover span:nth-child(4) {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s; }
  #splash .link--yaku span:nth-child(7),
  #splash .link--yaku:hover span:nth-child(5) {
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s; }
  #splash .link--yaku span:nth-child(6),
  #splash .link--yaku:hover span:nth-child(6) {
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s; }
  #splash .link--yaku span:nth-child(5),
  #splash .link--yaku:hover span:nth-child(7) {
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s; }
  #splash .link--yaku span:nth-child(4),
  #splash .link--yaku:hover span:nth-child(8) {
    -webkit-transition-delay: 0.7s;
    transition-delay: 0.7s; }
  #splash .link--yaku span:nth-child(3),
  #splash .link--yaku:hover span:nth-child(9) {
    -webkit-transition-delay: 0.8s;
    transition-delay: 0.8s; }
  #splash .link--yaku span:nth-child(2),
  #splash .link--yaku:hover span:nth-child(10) {
    -webkit-transition-delay: 0.9s;
    transition-delay: 0.9s; }
  #splash .link--yaku span:first-child,
  #splash .link--yaku:hover span:nth-child(11) {
    -webkit-transition-delay: 1s;
    transition-delay: 1s; }

#project_header {
  background: cornsilk;
  height: 40vh;
  position: relative; }

#projects_h1 {
  border-top: solid;
  border-bottom: solid;
  font-family: Megrim;
  color: red;
  font-weight: bolder;
  font-size: 100px;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%); }

.projects {
  margin-top: 15%;
  height: 610px;
  overflow-y: scroll;
  padding-left: 0px;
  padding-right: 0px; }

.blurbs {
  margin-top: 15%;
  height: 610px;
  background-color: #F8F8FF;
  font-family: Raleway;
  padding-left: 20px; }

#RDC {
  margin-top: 15%; }

#RDC_blurb {
  margin-top: 15%; }

.project_images {
  max-width: 100%; }

.project_container {
  position: relative;
  background-color: ivory;
  height: 3250px; }

.project_headers {
  border-bottom: solid;
  border-width: thin;
  font-family: Montserrat;
  color: red;
  font-weight: bolder;
  font-size: 40px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%); }

#RDC_header {
  top: 80px; }

#ga_header {
  top: 860px; }

#ga_image {
  height: 100%; }

#vagabond_header {
  top: 1645px; }

#coder_confessions_header {
  top: 2425px; }

#coder_image {
  height: 100%; }

.logins {
  width: 182px;
  margin-right: 10px;
  margin-bottom: 10px; }

.credit-card {
  width: 400px; }

@media(max-width: 1217px) {
  .text_elements .link--yaku span {
    font-size: 70px; }

  #contents #projects_h1 {
    font-size: 80px; }

  .project_container {
    height: 3300px; } }
@media(max-width: 1044px) {
  .project_container {
    height: 5650px; }
    .project_container .project_headers {
      font-size: 39px; }
    .project_container #RDC_blurb {
      margin-top: 20px; }
    .project_container #ga_header {
      margin-top: 595px; }
    .project_container #ga_blurb {
      margin-top: 20px; }
    .project_container #vagabond_header {
      margin-top: 1190px; }
    .project_container #vagabond_blurb {
      margin-top: 20px; }
    .project_container #coder_image {
      width: auto; }
    .project_container #coder_confessions_header {
      margin-top: 1800px; }
    .project_container #coder_confessions_blurb {
      margin-top: 20px; } }
@media(max-width: 1018px) {
  .project_container {
    height: 5650px; }
    .project_container .project_headers {
      font-size: 38px; }
    .project_container #ga_header {
      margin-top: 600px; }
    .project_container #vagabond_header {
      margin-top: 1205px; }
    .project_container #coder_confessions_header {
      margin-top: 1810px; } }
@media(max-width: 991px) {
  .project_container {
    height: 5550px; }
    .project_container .project_headers {
      font-size: 37px; }
    .project_container #RDC_header {
      margin-top: -25px; }
    .project_container #ga_header {
      margin-top: 545px; }
    .project_container #vagabond_header {
      margin-top: 1125px; }
    .project_container #coder_confessions_header {
      margin-top: 1685px; } }
@media(max-width: 960px) {
  .project_container .project_headers {
    font-size: 36px; }

  .text_elements .link--yaku span {
    font-size: 60px; }

  #splash h2 {
    font-size: 26px; } }
@media(max-width: 915px) {
  .project_container .project_headers {
    font-size: 30px; } }
@media(max-width: 786px) {
  .project_container .project_headers {
    font-size: 28px; } }
@media(max-width: 680px) {
  .project_container {
    height: 5350px; }
    .project_container .project_headers {
      font-size: 25px; }
    .project_container #RDC_header {
      margin-top: -25px; }
    .project_container #ga_header {
      margin-top: 535px; }
    .project_container #vagabond_header {
      margin-top: 1085px; }
    .project_container #coder_confessions_header {
      margin-top: 1635px; }

  #contents #projects_h1 {
    font-size: 60px; }

  .footer {
    height: 125px; }
    .footer .social .icons {
      width: 60px;
      margin-top: -40px; } }
@media(max-width: 375px) {
  .text_elements .link--yaku span {
    font-size: 40px; }

  #splash h2 {
    font-size: 14px; } }
@media(max-width: 320px) {
  .text_elements .link--yaku span {
    font-size: 35px; }

  #splash {
    font-size: 14px; }
    #splash .hvr-pulse-grow {
      font-size: 25px; }

  #contents #projects_h1 {
    font-size: 40px; }

  .project_container {
    height: 4450px; }
    .project_container .project_headers {
      font-size: 10px; }
    .project_container .blurbs {
      font-size: 12px; }
    .project_container #RDC_header {
      margin-top: -55px; }
    .project_container #RDC_blurb {
      margin-top: -40px; }
    .project_container #ga_header {
      margin-top: 385px; }
    .project_container #ga_image {
      height: auto; }
    .project_container #ga_blurb {
      margin-top: -425px; }
    .project_container #vagabond_header {
      margin-top: 445px; }
    .project_container #vagabond_blurb {
      margin-top: -215px; }
    .project_container #coder_confessions_header {
      margin-top: 710px; }

  .footer {
    height: 125px;
    width: 320px; }
    .footer .social .icons {
      width: 30px;
      margin-top: -40px; } }
