.contents {
  position: relative;
  z-index: 0;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s; }

.hamburger {
  position: absolute;
  top: 20px;
  right: 0;
  bottom: 0;
  left: 20px;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
  z-index: 1;
  width: 50px;
  margin-top: -7px;
  cursor: pointer; }

.sidebar {
  position: fixed;
  top: 0px;
  right: 0;
  bottom: 0px;
  left: -190px;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
  width: 180px;
  padding: 10px;
  background: red;
  z-index: 0;
  font-family: Offside;
  font-weight: bolder; }
  .sidebar ul {
    position: relative;
    list-style: none;
    margin-top: 21px;
    text-align: center; }
  .sidebar li {
    padding-bottom: 45px;
    margin-left: -45px;
    font-size: 18px;
    -webkit-font-smoothing: antialiased; }

#sidebar_toggler {
  display: none; }
  #sidebar_toggler:checked + .page-wrap .sidebar {
    left: 0px; }
  #sidebar_toggler:checked + .page-wrap .hamburger {
    left: 200px; }
  #sidebar_toggler:checked + .page-wrap .text_elements {
    margin-left: 90px; }

nav a {
  position: relative;
  display: inline-block;
  color: white;
  text-decoration: none;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.3); }
  nav a:hover, nav a:focus {
    text-decoration: none; }

.link_effect a {
  color: rgba(255, 255, 255, 0.8);
  text-shadow: none; }

.link_effect a::before {
  position: absolute;
  overflow: hidden;
  max-width: 0;
  border-bottom: 2px solid #fff;
  color: white;
  content: attr(data-hover);
  -webkit-transition: max-width 0.5s;
  -moz-transition: max-width 0.5s;
  transition: max-width 0.5s; }

.link_effect a:hover::before,
.link_effect a:focus::before {
  max-width: 100%; }

#splash {
  background: ivory;
  height: 100vh;
  margin-top: -20px;
  text-align: center;
  position: relative; }
  #splash .text_elements {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 750px; }
  #splash h2 {
    display: inline-block;
    font-family: Offside;
    font-size: 30px;
    color: red; }
  #splash .hvr-pulse-grow {
    color: red;
    font-size: 80px;
    cursor: pointer; }
  #splash .link--yaku {
    color: red;
    font-family: Offside;
    font-size: 90px;
    overflow: hidden;
    padding: 0 0 10px; }
  #splash .link--yaku:hover::before {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  #splash .link--yaku span {
    display: inline-block;
    position: relative;
    -webkit-transform: perspective(1000px) rotate3d(0, 1, 0, 0deg);
    transform: perspective(1000px) rotate3d(0, 1, 0, 0deg);
    -webkit-transition: -webkit-transform 0.5s, color 0.5s;
    transition: transform 0.5s, color 0.5s; }
  #splash .link--yaku:hover span {
    color: #1e1a1b;
    -webkit-transform: perspective(1000px) rotate3d(0, 1, 0, 360deg);
    transform: perspective(1000px) rotate3d(0, 1, 0, 360deg); }
  #splash .link--yaku span:nth-child(11),
  #splash .link--yaku:hover span:first-child {
    -webkit-transition-delay: 0s;
    transition-delay: 0s; }
  #splash .link--yaku span:nth-child(10),
  #splash .link--yaku:hover span:nth-child(2) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s; }
  #splash .link--yaku span:nth-child(9),
  #splash .link--yaku:hover span:nth-child(3) {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s; }
  #splash .link--yaku span:nth-child(8),
  #splash .link--yaku:hover span:nth-child(4) {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s; }
  #splash .link--yaku span:nth-child(7),
  #splash .link--yaku:hover span:nth-child(5) {
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s; }
  #splash .link--yaku span:nth-child(6),
  #splash .link--yaku:hover span:nth-child(6) {
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s; }
  #splash .link--yaku span:nth-child(5),
  #splash .link--yaku:hover span:nth-child(7) {
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s; }
  #splash .link--yaku span:nth-child(4),
  #splash .link--yaku:hover span:nth-child(8) {
    -webkit-transition-delay: 0.7s;
    transition-delay: 0.7s; }
  #splash .link--yaku span:nth-child(3),
  #splash .link--yaku:hover span:nth-child(9) {
    -webkit-transition-delay: 0.8s;
    transition-delay: 0.8s; }
  #splash .link--yaku span:nth-child(2),
  #splash .link--yaku:hover span:nth-child(10) {
    -webkit-transition-delay: 0.9s;
    transition-delay: 0.9s; }
  #splash .link--yaku span:first-child,
  #splash .link--yaku:hover span:nth-child(11) {
    -webkit-transition-delay: 1s;
    transition-delay: 1s; }

#project_header {
  background: cornsilk;
  height: 40vh;
  position: relative; }

#projects_h1 {
  border-top: solid;
  border-bottom: solid;
  padding: 10px;
  font-family: Megrim;
  color: red;
  font-weight: bolder;
  font-size: 100px;
  position: absolute;
  left: 34%;
  top: 19%; }

.projects {
  margin-top: 15%;
  height: 520px;
  overflow-y: scroll; }

.blurbs {
  margin-top: 15%;
  height: 520px;
  background-color: #F8F8FF;
  font-family: Raleway;
  padding-left: 20px; }

#RDC {
  margin-top: 15%; }

#RDC_blurb {
  margin-top: 15%; }

.project_images {
  width: 780px;
  margin-left: -15px;
  padding-right: 5px; }

.project_container {
  position: relative;
  background-color: ivory;
  height: 415vh; }

.project_headers {
  border-bottom: solid;
  border-width: thin;
  padding: 10px;
  font-family: Montserrat;
  color: red;
  font-weight: bolder;
  font-size: 40px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%); }

#RDC_header {
  top: 80px; }

#ga_header {
  top: 770px; }

#ga_image {
  height: 100%; }

#vagabond_header {
  top: 1470px; }

#coder_confessions_header {
  top: 2160px; }

.logins {
  width: 180px;
  margin-right: 10px; }

@media(max-width: 1217px) {
  .text_elements .link--yaku span {
    font-size: 70px; } }
@media(max-width: 960px) {
  .text_elements .link--yaku span {
    font-size: 60px; }

  #splash h2 {
    font-size: 26px; } }
@media(max-width: 320px) {
  .text_elements .link--yaku span {
    font-size: 35px; }

  #splash h2 {
    font-size: 14px; } }
@media(max-width: 375px) {
  .text_elements .link--yaku span {
    font-size: 40px; }

  #splash h2 {
    font-size: 14px; } }
body {
  position: relative; }

.page-wrap {
  position: relative;
  margin-bottom: 200px;
  z-index: 3; }

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 30px;
  background-color: red;
  height: 200px;
  text-align: center; }
  .footer .fa {
    margin-top: 30px;
    color: ivory;
    padding: 10px; }
